# PostgreSQL
PG_HOST=your-postgres-vm-ip
PG_PORT=5432
PG_DB=your_database
PG_USER=debezium
PG_PASSWORD=change_me_strong_password

# Kafka
KAFKA_HOST=your-kafka-vm-ip
KAFKA_EXTERNAL_PORT=29092

# ClickHouse
CLICKHOUSE_HOST=your-clickhouse-vm-ip
CLICKHOUSE_PORT=8123
